body {
    font-family: 'Roboto', sans-serif;
    background-color: #d3e0ea;
}

header {
    background-color: #1687a7
}

.titulo_h2 {
    display: flex;
    justify-content:center;
}

h2 {
    left: 100px;
    display: inline-block;
    font-size: 1.15em;
}

.lista, .buscador, li, .logo_menu {
    display: inline-block ;
}

.menu, .barra_nav nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.barra_nav {
    background-color: #276678
}

.lista_menu, .buscador {
    margin: 10px;
}

article, h1 {
    text-align: center;
}

article {
    margin: 15px 0px 15px 0px;
    padding: 15px 0px 15px 0px;
}

.titulo h2, .lista {
    margin: 0px 0px 25px 0px;
    padding: 5px 0px 0px 0px;
}

.logo_menu img {
    padding: 10px;
    display: block;
    width: 170px;
}

.barra_nav {
    display: inline-block;
    border-radius: 15px;
}

.elementos_menu li a {
    margin: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: aliceblue;
}

.elementos {
    display: inline-block;
    width: 880px;
    height: 876px;
}

.elementos img {
    width: 290px;
}

.buscador img {
    width: 11px;
}

aside {
    position: fixed;
    top: 130px;
    left: 1495px;
}

.content-flex {
    display: flex;
    flex-direction: column;
    background-color: #1687a7;
    padding: 25px;
    border-radius: 20px;
}

.parrafo {
    display: inline-block;
    margin: 0px 0px 13px 0px;
}

.parrafo p {
    text-align: center;
    padding: 8px;
    display: inline-block;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    background-color: #276678;
    color: aliceblue;
}

.img_apartado {
    width: 300px;
    
}

